<h2>Todo app</h2>
<%= link_to "create new task", "/tasks/new" %>

<h2> [Task List] </h2>
    <% @tasks.each do |task| %>
        <p>・<%= task.title %> <%= link_to "delete", "/tasks/" + task.id.to_s, method: :delete  %>　</p>
<% end %>